.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    background-color: #EE8626;
    max-width: 338px;
    width: 100%;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    &:hover{
        background-color: #2b2b2b;
        color: #EE8626;
    }
}